.cabecera{
    text-align: right;
}
main {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
.footer{
display:flex;
}
.footer-izquierdo{
    text-align:left;
    width:100%;
}
.footer-derecho{
    text-align: right;
    width:100%;
}